body {
  margin: 0;
}

wrapper {
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__rectangle {
  height: 900px;
  width: 461px;
  background-color: black;
}

.hamburger-menu {
  display: flex;
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 27px;
  right: 24px;
  width: 26px;
  height: 29px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
}

.menu__btn > span::before {
  content: '';
  top: -7px;
}

.menu__btn > span::after {
  content: '';
  top: 7px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #fff;
  box-shadow: 50px 10px 1px rgba(0, 0, 0, .9);
}

.first-page {
  padding: 7% 50% 7% 50%;
}

.first-page__image{
  padding: 61px 0 0 50px;
  background: url(img/mainimg.svg);
  width: 300px;
  height: 200px;
}

.first-page__title {
    margin: 0 5px 31px 0;
    font: bold 80px/83px montserratbold, arial, helvetica, sans-serif;
    color: black;
  }

  .first-page__subtitle1 {
    margin: 0 50px 40px 0;
    font: 15px/18px montserratregular, arial, helvetica, sans-serif;
    color: black;
  }

  .first-page__subtitle2 {
    margin: 0 200px 31px 0;
    font: 13px/15px montserratmedium, arial, helvetica, sans-serif;
    color: black;
  }

.second-page {
  font: 30px/31px montserratmedium, arial, helvetica, sans-serif;
}

.third-page {
  font: bold 30px/31px montserratregular, arial, helvetica, sans-serif;
}
