
.first-page {
  font: bold 40px/31px montserratbold, arial, helvetica, sans-serif;
}

.secod-page {
  font: 30px/31px montserratmedium, arial, helvetica, sans-serif;
}

.third-page {
  font: 30px/31px montserratregular, arial, helvetica, sans-serif;
}
